.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
    transition: box-shadow 0.3s ease;
    width: 95%;
    height: 400px;
    box-sizing: border-box;

    &:hover {
        box-shadow: 0 4px 8px rgb(255, 159, 80);
    }

    &__image {
        padding-top: 5px;
        width: 100%;
        height: auto;
        display: block;
        max-height: 200px;
        object-fit: contain;
        object-position: center;
    }

    &__title {
        font-size: 1.1rem;
        color: #333;
        margin: 0.5rem 1rem;
    }

    &__tagline {
        font-size: 0.9rem;
        color: #666;
        margin: 0.5rem 1rem;
    }

    &__description {
        font-size: 0.85rem;
        color: #333;
        margin: 1rem;
        line-height: 1.4;
        max-height: 80px;
        overflow: auto;
    }
}


@media (min-width: 600px) {
    .card {
        width: calc(50% - 20px); 
        float: left;
    }
}
@media (min-width: 770px) {
    .card {
        width: calc(33.3% - 20px); 
    }
}