.home {
    display: flex;
    flex-direction: right;
    flex-wrap: wrap;

    .home__side-navbar {
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .home__main {
        flex-basis: 80%;
        flex-grow: 1;
        flex-shrink: 0;
    }

    
    @media (max-width: 600px) {
        flex-direction: column;
        .home__side-navbar {
          position: sticky;
          top: 0;
        }

        .home__side-navbar, .home__main {
            flex-basis: 100%;
        }
        }
}