.home {
    display: flex;
    flex-direction: right;
    flex-wrap: wrap;

    .home__side-navbar {
        flex-basis: 20%;
        flex-grow: 0;
        flex-shrink: 0;
      // Additional styling for the sidebar
    }

    .home__main {
        flex-basis: 80%;
        flex-grow: 1;
        flex-shrink: 0;
      // Additional styling for the main content
    }

    // Media query for mobile screens
    @media (max-width: 600px) {
        flex-direction: column;

        .home__side-navbar, .home__main {
            flex-basis: 100%;
        }
        }
}